<% include ../partials/header %>

  <section>
    <form action="/surveys/<%= survey.id %>" method="post" novalidate enctype="multipart/form-data">
      <fieldset>
        <legend>Survey Information</legend>

        <div class="form-group">
          <label for="creatorName">Creator Name</label>
          <input type="text" class="form-control" id="creator_name" name="creatorName" placeholder="Enter your survey name here" required
            value="<%= survey.creatorName %>">
        </div>

        <div class="form-group">
          <label for="surveyName">Survey Name</label>
          <input type="text" class="form-control" id="survey_name" name="surveyName" placeholder="Enter your survey name here" required
            value="<%= survey.surveyName %>">
        </div>

        <div class="form-group">
          <label for="description">Survey Description</label>
          <input type="text" class="form-control" id="survey_description" name="description" placeholder="Greasy, black, vampires of the deep."
            required value="<%= survey.description %>">
        </div>
      </fieldset>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Survey</button>
      </div>
    </form>
  </section>

  <% include ../partials/footer %>