<% include ../partials/header %>

  <section>
    <form action="/surveys" method="post" novalidate enctype="multipart/form-data">
      <fieldset>
        <legend>Survey Information</legend>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="survey_name" name="name" placeholder="Creepy Leeches" required>
        </div>

        <!-- <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="survey_description" name="description" placeholder="Greasy, black, vampires of the deep."
            required>
        </div>

        <div class="form-group">
          <input type="file" name="image" id="image">
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>

            <input type="number" class="form-control" id="survey_price" name="price" placeholder="4.99" step="0.01" min="0" required>
          </div>
        </div> -->
      </fieldset>
      <fieldset>
        <legend>Questions</legend>

        <div id="survey_questions">
          <div class="form-group">
            <button type="button" class="btn btn-success btn-sm" onclick="addQuestion()">Add Question</button>
          </div>

          <template id="survey_question" class="form-inline mb-4">
            <div class="question">
              <button type="button" class="remove btn btn-danger btn-small" onclick="delQuestion(event)">&times;</button>

              <div class="form-group mr-4">
                <label for="prompt" class="mr-1">Prompt</label>
                <input type="text" class="form-control" id="question_prompt" name="prompt" placeholder="Who are You?">
              </div>

              <div class="form-group">
                <label for="name" class="mr-1">Field Name</label>
                <input type="text" class="form-control" id="question_name" name="name" placeholder="Fred Jones">
              </div>
            </div>
          </template>
        </div>
      </fieldset>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Create Survey</button>
      </div>
    </form>
  </section>

  <% include ../partials/footer %>
